@page "/polise"
@inject PoliseApiClient PoliseClient
@inject ZaposleniApiClient ZaposleniClient
@inject IHttpClientFactory ClientFactory
@inject AuthenticationStateProvider AuthProvider
@using OsiguranjeAspire.Contracts.Polise;
@using OsiguranjeAspire.Contracts.Zaposleni;
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<h3>Polise</h3>

@if (polise == null)
{
    <p>Loading...</p>
}
else
{
    <label>Zaposleni:</label>
    <select @onchange="OnSelectedChanged">
        <option value="">-- All --</option>
        @foreach (var z in zaposleni)
        {
            <option value="@z.Id">@z.ImePrezime</option>
        }
    </select>
    <table class="table">
        <thead>
            <tr>
                <th>Broj polise</th>
                <th>Nosilac Polise</th>
                <th>Premija</th>
                <th>IDZaposlenog</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in polise)
            {
                <tr>
                    <td>@p.BrPolise</td>
                    <td>@p.ImeNosilac</td>
                    <td>@p.Premija</td>
                    <td>@p.IdZaposlenog</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ZaposleniDTO> zaposleni = new();
    private List<PolisaDTO> polise = new();
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var idClaim = user.FindFirst("id")?.Value;

        if (!int.TryParse(idClaim, out var currentUserId))
            return;

        // Load only employees whose NadredjeniId == current user id
        zaposleni = await ZaposleniClient.GetPodredjeniAsync(currentUserId);

        // Optionally load all policies at start
        polise = await PoliseClient.GetAllAsync();

        // isLoading = true;

        // zaposleni = await ZaposleniClient.GetZaposleni();
        // polise = await PoliseClient.GetAllAsync();

        // isLoading = false;
    }

    private async Task OnSelectedChanged(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrWhiteSpace(value))
        {
            polise = await PoliseClient.GetAllAsync();
        }
        else if (int.TryParse(value, out var id))
        {
            polise = await PoliseClient.GetByZaposleniAsync(id);
        }
    }
}