@page "/polise"
@inject PoliseApiClient PoliseClient
@inject IHttpClientFactory ClientFactory
@using OsiguranjeAspire.Contracts.Polise;
@rendermode InteractiveServer

<h3>Polise</h3>

@if (polise == null)
{
    <p>Loading...</p>
}
else
{
    <label>Zaposleni:</label>
    <select @bind="selectedId" @bind:after="OnSelectedChanged">
        <option value="">Svi</option>
        @foreach (var id in zaposleniIds)
        {
            <option value="@id">@id</option>
        }
    </select>
    <table class="table">
        <thead>
            <tr>
                <th>Broj polise</th>
                <th>Nosilac Polise</th>
                <th>Premija</th>
                <th>IDZaposlenog</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in polise)
            {
                <tr>
                    <td>@p.BrPolise</td>
                    <td>@p.ImeNosilac</td>
                    <td>@p.Premija</td>
                    <td>@p.IdZaposlenog</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<int> zaposleniIds = new();
    private List<PolisaDTO> polise = new();
    private int? selectedId;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        zaposleniIds = await PoliseClient.GetZaposleniIds();
        polise = await PoliseClient.GetAllAsync();

        isLoading = false;
    }

    private async Task OnSelectedChanged()
    {
        isLoading = true;

        if (selectedId is null)
            polise = await PoliseClient.GetAllAsync(); // all
        else
            polise = await PoliseClient.GetByZaposleniAsync(selectedId.Value); // filtered

        isLoading = false;
    }
}